{% load crispy_forms_tags %}
{% load blog_tags menu_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Profile {{ profile.author }}</title>
    <link rel="shortcut icon" href="{% static '/images/favicon/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/parallax.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>

<div class="loader">
    <img src="{% static '/images/loader/loading.gif' %}" alt="Loading..." />
</div>

<div class="profile-card">
    <div class="top-section">
        <a href="#"><i class="message fas fa-envelope"></i></a>
        <a href="/"><i class="notif fas fa-arrow-left"></i></a>
        {% if profile.image %}
        {% if profile.is_online %}
        Online
        <div class="pic">
            <img class="profile-img" src="{{ profile.image.url }}" alt=""/>
        </div>
        {% else %}
        Offline
        <div class="profile-pic">
            <img class="offline-pic" src="{{ profile.image.url }}" alt=""/>
        </div>
        {% endif %}
        {% endif %}
        <div class="name">{{ profile.author }}</div>
        <div class="tag">{{ profile.author.email }}</div>
    </div>

    <div class="bottom-section">
        <div class="social-media">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fas fa-link"></i></a>
        </div>

        <div class="border"></div>
        <div class="subscribers">204K <span>Subscribers</span></div>
        <div class="border"></div>
        <div class="views">{{ profile.status }} <span>Status</span></div>
    </div>
</div>
</body>
<!--<script type="text/javascript">-->
<!--    window.addEventListener("load", function () {-->
<!--        const loader = document.querySelector(".loader");-->
<!--        loader.className += " hidden"; // class "loader hidden"-->
<!--    });-->
<!--</script>-->
</html>
