{% load i18n %}
{% load static %}
{#{% load account socialaccount %}#}

<!--{% block head_title %}{% trans "Sign In" %}{% endblock %}-->

<!--{% block content %}-->

{#{% get_providers as socialaccount_providers %}#}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static '/images/favicon/favicon.ico' %}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
<div class="container">
    <form class="login-form" method="POST" action="{% url 'account_login' %}">
        <h1>{% trans "Sign In" %}</h1>
        {% csrf_token %}
        <div class="txtb">

            <input type="text" name="login"
                    autofocus="autofocus" maxlength="150"
                    id="id_login">
            <span data-placeholder="Username"></span>
        </div>
        <div class="txtb">

            <input type="password"
                   name="password"
            >
            <span data-placeholder="Password"></span>
        </div>
        <div class="form-check">
            <label for="id_remember">Запомнить меня:</label> <input
                type="checkbox" name="remember" id="id_remember">
        </div>
        <input class="logbtn" type="submit" name="" value="Login">
    </form>
    <script type="text/javascript">
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass("focus");
        });

    </script>
</div>
</body>
</html>

<!--<form class="login" method="POST" action="{% url 'account_login' %}">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    {% if redirect_field_value %}-->
<!--    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>-->
<!--    {% endif %}-->
<!--    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>-->
<!--    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>-->
<!--</form>-->

<!--{% endblock %}-->
