{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% load static %}


{% block content %}
{#{% load account socialaccount %}#}
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">


    <form class="login-form" method="POST" action="{% url 'account_login' %}">
        <h1>{% trans "Sign In" %}</h1>

        {#{% get_providers as socialaccount_providers %}#}
        <div class="*">
            {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        </div>
        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
        <div class="txtb">
            <span>
            {% csrf_token %}
            {{ form|crispy }}
            </span>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="logbtn" type="submit">{% trans "Sign In" %}</button>
        <div class="bottom-text">
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
        </div>
    </form>
    <script type="text/javascript">
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass("focus");
        });

    </script>
</div>
</body>
{% endblock %}
