<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UNICORN PARALLAX</title>
    <script src="{% static 'js/parallax.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
        <div class="header">
            <div class="navlist">
                <p><a href="/">HOME</a></p>
                <p><a href="/about/">ABOUT</a></p>
                {% if user.is_authenticated %}
                    <p><a href="{% url 'detail_myprofile' user.profile.slug %}">PROFILE</a></p>
                    <p><a href="/accounts/logout">LOGOUT</a></p>
                    <p><a href="/post/new/">+ POST</a></p>
                {% else %}
                    <p><a href="/accounts/signup/">SIGNUP</a></p>
                    <p><a href="/accounts/login/">LOGIN</a></p>
                {% endif %}
            </div>
        </div>
        <ul id="scene">
            <li class="layer" data-depth="0.7"><img src="{% static 'images/navbar/filledpolygon.png' %}" alt="image">
            </li>
            ></li>
            <li class="layer" data-depth="0.15"><img src="{% static 'images/navbar/polygons.png' %}" alt="image"></li>
            ></li>
            <li class="layer" data-depth="0.05"><img src="{% static 'images/navbar/unicorn.png' %}" alt="image"></li>
        </ul>
        <script>
            var scene = document.getElementById('scene');
            var parallax = new Parallax(scene);
        </script>
    </div>
</main>
</body>
</html>