
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: arial;
}

.main {

    margin: 2%;
}

.card {
    width: 20%;
    display: inline-block;
    box-shadow: 1px 1px 5px rgba(190, 62, 201, .4);
    border-radius: 20px;
    margin: 2%;
}

.image img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


}

.title {

    text-align: center;
    padding: 10px;

}

h1 {
    font-size: 20px;
}

.des {
    padding: 3px;
    text-align: center;

    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.author {
    padding: 3px;
    text-align: center;

    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}