{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load blog_tags menu_tags %}

{% block content %}
<head>
    <style>
        .account-img {
            border-radius: 100px; /* Радиус скругления */
        }
        .show-top-grids {
            margin-top: 3%; /* Отступ сверху */
        }
    </style>
</head>
<div class="show-top-grids">
    <div class="col-sm-8 single-left">
        <div class="clearfix"></div>
        <div class="published">
            <script src="jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    size_li = $("#myList li").size();
                    x = 1;
                    $('#myList li:lt(' + x + ')').show();
                    $('#loadMore').click(function () {
                        x = (x + 1 <= size_li) ? x + 1 : size_li;
                        $('#myList li:lt(' + x + ')').show();
                    });
                    $('#showLess').click(function () {
                        x = (x - 1 < 0) ? 1 : x - 1;
                        $('#myList li').not(':lt(' + x + ')').hide();
                    });
                });
            </script>
            <div class="load_more">
                <ul id="myList">
                    <li>
                        <h4>{{ post.title }}</h4>
                        {{ post.text|safe }}
                        <div class="load-grids">
                            <div class="load-grid">
                                <p>Category</p>
                            </div>
                            <div class="load-grid">
                                <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="all-comments">
            <div class="all-comments-info">
                <a href="#">All Comments ({{ post.get_comments_count }})</a>
                <div class="box">
                    {% if user.is_authenticated %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit">Отправить</button>
                    </form>
                    </form>
                    {% else %}
                    <p>Что бы оставить комментарий войдите на сайт</p>
                    {% endif %}
                </div>
                <div class="all-comments-buttons">
                    <ul>
                        <li><a href="#" class="top">Top Comments</a></li>
                        <li><a href="#" class="top newest">Newest First</a></li>
                        <li><a href="#" class="top my-comment">My Comments</a></li>
                    </ul>
                </div>
            </div>
            <div class="media-grids">
                {% for comment in post.comments.all %}
                <div class="media">
                    <h5><a href="{% url 'detail_profile' comment.author.profile.slug %}">{{ comment.author }}</a></h5>
                    <div class="media-left">
                        {% if comment.author.profile.image %}
                        <a href="{% url 'detail_profile' comment.author.profile.slug %}"><img class="account-img"
                                                                                              width="65" height="65"
                                                                                              src="{{ comment.author.profile.image.url }}">
                        </a>
                        {% else %}
                        <a href="{% url 'detail_profile' comment.author.profile.slug %}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <p>{{ comment.text }}</p>
                        <span>{{ comment.create_data }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock content %}
