<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Sport</h1>
    {% for category in categories %}
        <p><a href="{% url 'category' category.slug %}">{{ category.name }}</a></p>
    {% endfor %}
    <hr>
        <h2>{{ post.title }}</h2>
        <p>{{ post.mini_text }}</p>
        <small>{{ post.published_date }}</small>
        <p>Категория - {{ post.category }}</p>
        Теги - {% for tag in post.tags.all %}
        <a href="{% url 'tag' tag.slug %}">#{{ tag.name }};</a>
        {% endfor %}
    <hr>
    <h4>Комментарии</h4>
<!--    comment_set всё равно идёт запрос в базу данных-->
<!--    _set нужен чтобы вызвать метод all-->
    <p>Кооментариев - {{ post.get_comments_count }}<br></p>
    {% for comment in post.comments.all %}
        Пользователь - {{ comment.author }}<br>
        {{ comment.text }}<br>
        Добавлен - {{ comment.create_data }}<br>
        <p> </p>
    {% endfor %}
</body>
</html>
